# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc
__pycache__/

# Compiled C++ files
build/
img/
*.out
*.o
*.d
*.img
*.elf
*.bin

# Application specific files
venv
node_modules
.sass-cache

# Temp File
*.swp
*.swa
*.swo

# github merge file
*.orig

# vscode 
.vscode

# zip
*.zip
*.7z

# data
*.csv

# photo
*.jpg
*.jpeg

# self-defined
tmp_*
report_*
handout_*
bad/
data/
results/
